html, body {
margin: 0;
padding: 0;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background-color: #EFD9A1;
width: 500px;
height: 310px;

}

@font-face {
font-family: Montserrat;
src: url('Oxygen-Regular.ttf');
}
#title{
text-align:left;
font-size:13px;
font-family:Montserrat,Arial;
margin-top:90px;
margin-left: -20px;
position: relative;
overflow: hidden;
margin: auto;
width: 300px;
float: center;
line-height: 60px;
}
#countArea{

  float: center;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size:13px;
  font-family:Montserrat,Arial;
}

#cardArea{
width:300px;
height:200px;
margin:auto;
margin-top:0px;
border-radius:10px;
position:relative;
/*overflow:hidden;*/
background-color: transparent;
perspective: 1000px;

}

#flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 6px 6px 12px 0 rgba(113, 86, 117, 0.21);
  border-radius:10px;

}

#cardArea:hover #flip-card-inner {
  transform: rotateX(180deg);
}


.card{
position:absolute;
text-align:center;
line-height:200px;
font-size:38px;
color:black;
font-family:Montserrat,Arial;
background-color: #FCFCF4;
border-radius:10px;

  width: 300px;
  height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}
.card_flipped{
position:absolute;
text-align:center;
line-height:275px;
font-size:38px;
color:black;
border-radius:10px;
font-family:Montserrat,Arial;
background-color: #FCFCF4;
width: 300px;
height: 200px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transform: rotateX(180deg);

}

#nextButton{
  padding-top: -20px;
  width: 0;
  height: 0;
  float: center;
  margin: auto;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #FFFFFF;
  margin-left: 175px;

}
#nextButton:hover{
opacity:.6;
}


#backButton{
  margin: auto;
float: center;
width: 0;
height: 0;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-right: 20px solid #FFFFFF;
margin-right: 175px;
}
#backButton:hover{
opacity:.6;
}

.float_c{
  width: 50%;
  float:left;
}

.buttons{
  margin-top: -150px;

}
.langs{
  float:left;
  display: inline-block;
  margin-top: 40px;
  margin-left: 15%;
  z-index: 900;
  position: relative;
}
.setting{
  float:right;
  display: inline-block;
  margin-top: -55px;
  margin-right: 5%;
  z-index: 900;
  position: relative;

}

.setting1{
  float:right;
  margin-top: 5px;
  margin-right: 0.5%;
  z-index: 900;
  position: relative;

}

.close{
  float:right;
  display: inline-block;
  margin-top: -55px;
  margin-right: 3%;
  font-size: 15px;
  z-index: 900;
  position: relative;
  border:none;
  outline:none;
  text-decoration:none;
  color: black;
}
.close:hover{
  box-shadow: 6px 6px 12px 0 rgba(113, 86, 117, 0.21);
}
.close1{
  float:right;
  margin-top: 5px;
  margin-right: 3%;
  font-size: 15px;
  z-index: 900;
  position: relative;
  border:none;
  outline:none;
  text-decoration:none;
  color:black;
}
.close1:hover{
  box-shadow: 6px 6px 12px 0 rgba(113, 86, 117, 0.21);
}

#lang1{
  width:50px;
  font-size: 10px;
  text-align:center;
  padding:5px;
  color:#3E3142;

  font-family:Montserrat,Arial;
  box-shadow: 6px 6px 12px 0 rgba(113, 86, 117, 0.21);
  border-radius:3px;

  display: inline-block;
  z-index: 992;
  position: absolute;
}
#lang1:hover{
  background-color: #CBB478;
}
#lang1:focus{
  background-color: #CBB478;
}


#lang2{
  width:30px;
  font-size: 10px;
  text-align:center;
  padding:5px;
  margin-left: 70px;
  color:#3E3142;

  font-family:Montserrat,Arial;
  box-shadow: 6px 6px 12px 0 rgba(113, 86, 117, 0.21);
  border-radius:3px;
  display: inline-block;
  position: absolute;
  z-index: 990;
}
#lang2:hover{
  background-color: #CBB478;
}

#finalMessage{
text-align:center;
font-size:30px;
margin-top:30px;
font-family:Montserrat,Arial;
}
